[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
multipart = "*"
latex = "*"
jinja2 = "*"
nltk = "*"
natsort = "*"

[dev-packages]
mypy = "*"
black = "*"

[requires]
python_version = "3.10"
